a{
    color: $text-default-color;
    :hover{
        color: $text-default-color;
        text-decoration: none;
    }
}

.item{
    img{
        width: 150px;
    }
}

.item{
    border-bottom: solid 2px $dark-highlights-color;
}

#basket-total-price{
    font-weight: bold;
}