    a{
        color: $text-default-color;
        :hover{
            color: $text-default-color;
            text-decoration: none;
        }
    }

.article-miniature, .article-info, .basket-total{
    border: solid black 3px;
}