header{
    background-color: $light-bg-color;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: bold;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .orinoco-logo, .oriteddies-logo{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.logo-img{
    height: 35px;
    width: 35px;
}

footer{
    background-color: $light-bg-color;
    font-size: 16px;
}

.card{
    border: solid 2px $dark-highlights-color;
}

.card-text{
    border-top: solid 2px $dark-highlights-color;
    h2{
        font-size: 20px;
    }
    p{
        font-weight: bold;
    }
}