/* layout of elements found on all pages: header and footer*/
header{
    background-color: $light-bg-color;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: bold;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .orinoco-logo, .oriteddies-logo{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.logo-img{
    height: 35px;
    width: 35px;
}

.basket-img{
    height: 60px;
    width: 60px;
}

footer{
    background-color: $light-bg-color;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1300px;
}

/*Layout specific to vue page*/
.card{
    border: solid 2px $dark-highlights-color;
    a{
        color: $text-default-color;
    }
    :hover{
        color: $dark-highlights-color;
    }
}

.card-text{
    border-top: solid 2px $dark-highlights-color;
    h2{
        font-size: 20px;
    }
    p{
        font-weight: bolder;
    }
}

#items-in-basket{
    position: absolute;
    right: 30px;
    top: 22px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color: $dark-highlights-color;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    opacity: 90%;
} 