header{
    background-color: $light-bg-color;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: bold;
}

.logo-img{
    height: 35px;
    width: 35px;
}

footer{
    background-color: $light-bg-color;
    font-size: 16px;
}

img{
    height: 60px;
    width: 60px;
}

.card{
    height: 350px;
    width: 350px;
}